.containerPrincipal {
    position: absolute;
        left: 50%;
        top: 65%;
        transform: translate(-50%, -50%);
        border: 1px solid gray;
        padding: 40px;
        background-color: white;
}

.containerSecundario{
    text-align: center;
}

.logo{
    display:block;
    margin:auto;


}